.dog-cart {
    min-height: 200px;
    width: 260px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.dog-image-cart {
    margin-top: 15px;
    height: 200px;
    width: 100%;
    border: 1px solid black;
}
ul.nav.navbar-nav .dropdown.open .dropdown-menu .row{
  color: black;
  background-color: white;
}
hr {
  clear:both;
}
